/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/templates/shop-homepage)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

html,
body {
    width: 100%;
    height: 100%;
}
body {
    padding-top: 56px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper__container {
    flex: 1 0 auto;
}

.wrapper_footer {
    flex-shrink: 0;
}
